#fibre__mapTools {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  top: 1em;
}

.xs #fibre__mapTools {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.xs #autocomplete-container input {
    width: 20em;
    font-size: medium;
}

#fibre__mapTools .fibre__btnGeoloc {
  font-size: medium;
  padding: 14px 14px;
  border-radius: 10px;
  margin-left: 10px;
}

.xs #fibre__mapTools .fibre__btnGeoloc {
  position: fixed;
  bottom: 2em;
}

#autocomplete-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: flex-start;
}

#autocomplete-container input {
  border-radius: 10px;
    border: 1px solid #ccc;
    padding: 12px 3em 12px 12px;
    display: block;
    margin: 0 auto;
    width: 40em;
    font-size: large;
    color: var(--mycolor);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' fill='rgba(0,55,133,1)'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z'%3E%3C/path%3E%3C/svg%3E");
    background-position: right 15px center; 
    background-repeat: no-repeat;
}

#autocomplete-container input::placeholder {
  color: var(--mycolor);
}

#autocomplete-container input:focus {
  border: 1px solid transparent;
  outline: none;
}

#autocomplete-result {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    padding-top: 4px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: larger;
    width: 100%;
    color: var(--mycolor);
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 0 5px #aaa;
    z-index: 1001;
}

.autocomplete-item {
  padding: 4px 0;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}
