#zoomAreaSelector {
    padding: 12px;
    margin: 1em;
    width: 100%;
    border: none;
    border-right: 7px white solid;
    color: var(--mycolor);
    font-family: var(--myfont);
    font-weight: 500;
    font-size: medium;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.16);
}

/* Déplacement du loader en cas d'activation du plugin */
#loading-indicator .loader {
    right: 540px;
}

/* Loader durant le chargement des données */
#loadingIndicator-zoomToArea {
    position: absolute;
    top: 10px;
    left: -40px;
}

#contentMap {
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 40%;
    position: relative;
    top: 0em;
    left: 50%;
    transform: translateX(-50%);
}

.xs #contentMap {
    width: 60%;
    position: fixed;
}
